html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 8px;
    cursor: pointer;
    background-color: #878484;
    transition: scroll .8s;
}

::-webkit-scrollbar-thumb{
    background-color: #272727;
}